<launch>
  <arg name="name" default="swarmie"/>
	<group ns="$(arg name)">
	<param name="robotNamespace" value="$(arg name)"/>
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
		args="-sdf -file $(find mast_swarmie)/models/mast_swarmie/model.sdf -model $(arg name) -x 1 -y 1 -z 0.5"/>
	</group>
</launch>
